
<div class="container">
    <h1>Pipe Assignment</h1>
<table class="table table-striped" style="font-size:15px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Route</th>
            <th>Fare</th>
            <th>constructDate</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let train of TrainArray">
       <td>{{train.trainId}}</td>
       <td>{{train.trainType | uppercase}}</td>
       <td>{{train.trainRoute | lowercase}}</td>
       <td>{{train.trainTicketFare | currency:'INR'}}</td>
       <td>{{train.constructDate | date:'fullDate'}}</td>
    </tr>
    </tbody>
</table>

<hr>
<h1>order by Pipe Assignment</h1>
<table class="table table-striped" style="font-size:15px">
    <thead>
        <tr>
            <th (click)="sortData('trainTicketFare')">Fare</th>
            <th>Id</th>
            <th>Type</th>
            <th>Route</th>
           
            <th>constructDate</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let train of TrainArray1 | orderBy:colName:reverse:caseInsensitive">
        <td>{{train.trainTicketFare | currency:'INR'}}</td>
        <td>{{train.trainId}}</td>
       <td>{{train.trainType | uppercase}}</td>
       <td>{{train.trainRoute | lowercase}}</td>
      
       <td>{{train.constructDate | date:'fullDate'}}</td>
    </tr>
    </tbody>
</table>
</div>

